<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ .Title }}</title>
{{/* {{ $sass := resources.Get "/scss/main.scss"}} {{ $style := $sass |
resources.ToCSS }}
<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}" /> */}}
{{/* {{ $sass := resources.Get "blocks/main.scss" }} {{ $style := $sass |
resources.ToCSS }}
<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}" /> */}}

{{/*  {{ $styles := resources.Get "blocks/main.scss" | toCSS | postCSS | minify |
fingerprint }}
<link
  rel="stylesheet"
  href="{{ $styles.Permalink }}"
  integrity="{{ $styles.Data.Integrity }}"
/>  */}}
